<!DOCTYPE html>
<!-- Author - Ben Constable -->
<!-- Render the admin login page -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Treasure Hunt Admin</title>
</head>
<body>
    <h1>Welcome to Game Keeper Login</h1>
    <!-- If an error is returned then output it -->
    {% if status == "0" %}
        <div class="error"><p>{{ message }}</p></div>
    {% endif %}
    <form action="/admin/login" method="post">
        <label for="Username">Username</label>
        <input type="text" name="Username">
        <label for="Password">Password</label>
        <input type="password" name="Password">
        <input type="submit" name="Login" value="Login as Admin">
    </form>
</body>
</html>
