<!DOCTYPE html>
<!-- Author - Ben Constable, Zach Lavender -->
<!-- Render the dashboard pages -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <script src="js/dashboard.js"></script>
    <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Map</a>
        <a href="">Leaderboard</a>
        <a href="">FAQ's</a>
    </div>
    <h2>Building:</h2>
    <ul id = "building" style="display:inline;">
        {% for row in info %}
        <li style="display:inline;">_</li>
        {% endfor %}
    </ul>
    
    <h3> Room: </h3>
    <p id = "roomNum" style="text-align: center;">___</p>
    <ul class="Locations">
        {% for row in info %}
        <li>{{ row["building"] }}</li>
        {% endfor %}
    </ul>
    
    <img src="Camera.png">
</body>
</html>
