<!DOCTYPE html>
<!-- Author - Ben Constable -->
<!-- Render the dashboard pages -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../CSS/common.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <script src="js/dashboard.js"></script>
</head>
<body>
  <script>document.getElementById('GamePin').value</script>
  <label for="Tutors">Who is your tutor?</label>
  <select name="Tutor">
    <option><script>document.getElementById('GamePin').value</script></option>
  </select>

  <!-- with sql.connect("Models/treasure.sqlite") as con:
            #map the columns to rows
            con.row_factory = sql.Row
            cur = con.cursor()

            # See if the game pin is valid
            cur.execute("SELECT Name t FROM Tutors t WHERE t.SubjectID = Subject s.SubjectID AND s.SubjectID = Games g.SubjectID AND g.GamePin =? AND g.Active=?", (int(gamePin),1))
            print(cur) -->



    <div class="topnav">
        <a class="active" href="#home">Map</a>
        <a href="">Leaderboard</a>
        <a href="">FAQ's</a>
    </div>
    <h2>Building:</h2>
    <ol id = "building">

    </ol>
    <script>
        addFinalLocation("Harrison");
    </script>
    <h3> Room: </h3>
    <p id = "roomNum">___</p>
    <ul class="Locations">
        <li></li>
    </ul>

    <img src="Camera.png">
</body>
</html>
