<!DOCTYPE html>
<!-- Author - Ben Constable, Zach Lavender -->
<!-- Render the dashboard pages -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <script src="{{ url_for('static',filename='JS/common.js') }}"></script>
    <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>
    <link href="{{ url_for('static',filename='CSS/dash.css') }}" rel='stylesheet' type='text/css'/>
</head>
<body>

  <!-- with sql.connect("Models/treasure.sqlite") as con:
            #map the columns to rows
            con.row_factory = sql.Row
            cur = con.cursor()

            # See if the game pin is valid
            cur.execute("SELECT Name t FROM Tutors t WHERE t.SubjectID = Subject s.SubjectID AND s.SubjectID = Games g.SubjectID AND g.GamePin =? AND g.Active=?", (int(gamePin),1))
            print(cur) -->



    <div class="topnav" id="myTopnav">
        <a class="active">Dashboard</a>
        <a href="/dashboard/Map">Map</a>
        <a href="/dashboard/Leaderboard">Leaderboard</a>
        <a href="/dashboard/faqs">FAQ's</a>
        <a class="icon" onclick="showResponsiveMenu()">&#9776;</a>
    </div>
    <h2>Building:</h2>
    <div id = "building" style="text-align: center;" >
        {% for row in info %}
        <input size = 1 style="max-width: 5%" disabled>
        {% endfor %}
    </div>

    <h3> Room: </h3>
    <p id = "roomNum" style="text-align: center;">Test___</p>

    <div class = "itemHolder">
      <div id = "Locations">
        <ul class="Locations">
            {% for row in info %}
            <li>{{ row["building"] }}</li>
            {% endfor %}
        </ul>
      </div>
      <div id="Camera">
        <image src="{{ url_for('static',filename='Images/Camera.png') }}"></image>
      </div>
    </div>
</body>
</html>
