<!DOCTYPE html>
<!-- Author - Ben Constable -->
<!-- Render the admin dashboard pages -->
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage Game</title>

    <script type="text/javascript" src="{{ url_for('static',filename='JS/ajax.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='JS/common.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='JS/game.js') }}"></script>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <div id="success" class="alert">Success: <span></span></div>
    <div id="error" class="alert">Error: <span></span></div>
    <input id="gamePin" type="text" value="No Game Running" disabled>
    <button id="endGame" disabled>No Game Running</button>
    <button>Manage Exisiting Game Configs</button>
    <div>
        <h2>Leaderboard</h2>
    </div>

    <div class="modal">
        <div class="modalHeader">
            <h2>Manage Existing Configs</h2>
        </div>
        <div class="modelBody">
            {% if length == "0" %}
                <p class="error">No subjects added.</p>
                <table id="configTable" style="display:none;">
                    <thead>
                        <tr>
                            <th>SubjectID</th>
                            <th>Name</th>
                            <th>Final Building</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            {% else %}
                <table id="configTable">
                    <thead>
                        <tr>
                            <th>SubjectID</th>
                            <th>Name</th>
                            <th>Final Building</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subject in data %}
                            <tr>
                                {% for value in subject.values() %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                                <td><button class="createGameButton" data-json="{{ subject }}">Create Game</button></td>
                                <td><button class="printQRCode"  data-json="{{ subject }}">Print QR Codes</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <form action="/admin/upload" method="post" enctype="multipart/form-data" name="configUpload">
                <input type="file" accept="application/JSON" name="file">
                <input type="submit" value="Upload Config" name="upload">
            </form>
        </div>
    </div>
</body>
</html>
