<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <form action="/register" method="post">
        <input type="text" name="TeamName">
        <select name="Subject">
            <option value="CS">Computer Science</option>
        </select>
        <input type="submit" name="SignUp" value="Sign Up">
    </form>
    <form action="/login" method="post">
        <input type="text" name="TeamName">
        <input type="password" name="Password">
        <input type="submit" name="Login" value="Login">
    </form>
</body>
</html>
