<!DOCTYPE html>
<!-- Author - Ben Constable -->
<!-- Render the home pages -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../CSS/common.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <h3> To the University of Exeter Freshers Treasure Hunt </h3>
    <!-- If an error is returned then output it -->

    {% if status == "0" %}
        <div class="error"><p>{{ message }}</p></div>
    {% endif %}

    <h2> Register your Team</h2>
    <form action="/register" method="post">
        <label for="TeamName">Team Name</label>
        <input type="text" name="TeamName">
        <label for="GamePin">Game Pin</label>
        <input type="text" name="GamePin">
        <input type="submit" name="SignUp" value="Sign Up">
    </form>
    <h2> Log Back into your Game </h2>
    <form action="/login" method="post">
        <label for="TeamName">Team Name</label>
        <input type="text" name="TeamName">
        <label for="GamePin">Game Pin</label>
        <input type="text" name="GamePin">
        <input type="submit" name="Login" value="Login">
    </form>
</body>
</html>
