<!DOCTYPE html>
<!-- Author - Ben Constable -->
<!-- Render the home pages -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../CSS/common.css" rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="{{url_for('static',filename='JS/ajax.js')}}"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <h3> To the University of Exeter Freshers Treasure Hunt </h3>
    <!-- If an error is returned then output it -->

    {% if status == "0" %}
        <div class="error"><p>{{ message }}</p></div>
    {% endif %}

    <h2> Register your Team</h2>
    <form action="/register" method="post">
        <label for="TeamName">Team Name</label>
        <input type="text" name="TeamName">
        <label for="GamePin">Game Pin</label>
        <input type="text" id="GamePin" name="GamePin" onchange="gameFunction()">
        <label for="tutors">Select Your Tutor</label>
        <input type="submit" name="SignUp" value="Sign Up">
    </form>

    <p id="test"></p>

    <script>
        function gameFunction(){
          var pin = document.getElementById("GamePin").value;
          document.getElementById("test").innerHTML = "You selected: " + pin;
          // var xhttp = new XMLHttpRequest();
          // xhttp.open("GET", "/verifyPin?GamePin="+pin,true)
          // xhttp.send()

          HTTPGet("/verifyPin?GamePin=" + pin, handleSection)

          // HTTPGet("/verifyPin?GamePin=pin",verifyPin(self,pin))
        }

        function handleSection(response){
          console.log(response)
        }
    </script>

    <h2> Log Back into your Game </h2>
    <form action="/login" method="post">
        <label for="TeamName">Team Name</label>
        <input type="text" name="TeamName">
        <label for="GamePin">Game Pin</label>
        <input type="text" name="GamePin">
        <input type="submit" name="Login" value="Login">
    </form>
</body>
</html>
