
<!--Author: Freddie Woods
    Description: Html for Building Information Page.-->
<!DOCTYPE html>
<html>
    <head>
        <title>Useful Information Page</title>
        <style>
* {
  box-sizing: border-box;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column{
  float:left;
  width:50%;
  padding:5px;
}
            .footer{
                float:bottom;
            }            
.building{
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;           
}
.active, .building:hover {
  background-color: #555;
}


.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>
    </head>
    <body>

<h2>Buildings</h2>
<button type="button" class="collapsible">Teaching</button>
<div class="content">
    <button type="button" class="building">Alexander Building</button>
    <button type="button" class="building">Amory Building</button>
    <button type="button" class="building">Arab & Islamic</button>
    <button type="button" class="building">Baring Court</button>
    <button type="button" class="building">Business School</button>
    <button type="button" class="building">Geoffrey Pope Building</button>
    <button type="button" class="building">Great Hall</button>
    <button type="button" class="collapsible">Harrison Building</button>
        <div class="content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1457.8142598247825!2d-3.5328079945564967!3d50.737737984275604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da44487df6e61%3A0x11ca0c4101343224!2sUniversity%20of%20Exeter%20Harrison%20Building!5e0!3m2!1sen!2suk!4v1580818657280!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>   
        </div>
    <button type="button" class="building">Innovation Centre Phase 1</button>
    <button type="button" class="building">Innovation Centre Phase 2</button>
    <button type="button" class="building">Kay Building</button>
    <button type="button" class="building">Laver Building</button>
    <button type="button" class="building">Living Systems Institute</button>
    <button type="button" class="building">Main University Reception</button>
    <button type="button" class="building">Mood Disorder Centre</button>
    <button type="button" class="building">Northcote House</button>
    <button type="button" class="building">Old Library - Bill Douglas Centre</button>
    <button type="button" class="building">Peter Chalk Conference Centre</button>
    <button type="button" class="building">Physics Building</button>
    <button type="button" class="building">Queen's Building</button>
    <button type="button" class="building">Reed Hall</button>
    <button type="button" class="building">Reed Mews</button>
    <button type="button" class="building">Richards Building</button>
    <button type="button" class="building">Roborough Studios</button>
    <button type="button" class="building">Smeaall Building</button>
    <button type="button" class="building">Sports Park</button>
    <button type="button" class="building">St Luke's Library</button>
    <button type="button" class="building">Streatham Court</button>
    <button type="button" class="building">Streatham Farm</button>
    <button type="button" class="building">Forum</button>
    <button type="button" class="building">Henry Wellcome Building for Biocatalysis</button>
    <button type="button" class="building">INTO Centre</button>
    <button type="button" class="building">Thornlea-White House</button>
    <button type="button" class="building">University of Exeter Medical School</button>
    <button type="button" class="building">Washington Singer Labs Building</button>
    <button type="button" class="building">XFI</button>
</div>        
<button type="button" class="collapsible">Accomodation</button>
<div class = "content">
    <div class = "row">
        <div class = "column">
            <ul>
                <li>Birks Grange Village</li>
                <li>Clydesdale Court</li>
                <li>Holland Hall</li>
                <li>Hope Hall</li>
                <li>Lopes Hall - Pennsylvannia Court</li>
                <li>Reed Hall</li>
                <li>Cook Mews</li>
                <li>Duryard</li>
                <li>Exeter One</li>
                <li>Mardon Hall</li>
                <li>King Edward Court</li>
                <li>Lafrowda</li>
                <li>Nash Grove</li>
                <li>Point Exe</li>
                <li>Rowe House</li>
                <li>St German's</li>
                <li>Pennylvannia Court</li>
                <li>Ransom Pickard</li>
            </ul>
        </div>
        <div class = "column">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1CuiUI1KJhw5t7CE1wb5h5nqkb-LnjdZf" width="640" height="480"></iframe>
        </div>
    </div>
</div>       
<button type="button" class="collapsible">Bars & Clubs</button>
    <div class="content">
        <button type="button" class="collapsible">Devonshire House</button>
        <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h1>Ram Bar</h1>
                    <p>The Ram Bar provides you with the ultimate stylish and comfortable surroundings to meet up, unwind, or get ready to go out. Bringing you freshly prepared pub grub and friendly service, the Ram Bar is your social hub on campus. From regular quiz nights and Rameoke, to pre-Lemmy bar on Saturdays we have something for everyone. The only place on campus showing live sport with 6 screens and a large projector, the Ram is the place to catch all the live action each weekend. So come in, choose your table – inside or in our lively beer garden – and join us.</p>
                    <p>Events:</p>
                    <ul>
                        <li>Monday - Quiz Night: Join us for quiz night every Monday, organised by RAG. Bring your mates, grab a table and put your skills on show.</li>
                        <li>Thursday - Ram Jam: Our weekly acoustic night showcasing the best student talent on campus.</li>
                        <li>Friday - Rameoke: Our infamous weekly karaoke night. Whether solo, duet, or with everyone you know, there's a tune for you.</li>
                    </ul>
                    <p class = "footer"> Opening and closing time: 10:00 - 23:00</p>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1465.4995585631493!2d-   3.5340071205010535!3d50.73496607301739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbcbcf54f740e3ddb!2sThe%20Ram%20Bar!5e0!3m2!1sen!2suk!4v1580830261803!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Cross Keys (X-Keys)</button>
               <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h2>Cafe/Restaurant</h2>
                    <p>On the ground floor, the cafe is open throughout the day offering grab and go items, including Fairtrade hot drinks, sandwiches, snacks, soft drinks and fruit. In addition, the kitchen counter introduces an exciting new hot food menu.</p>
                    <p class = "footer"> Serves Breakfast from 08:00 - 10:00 <button><a href="google.com">Breakfast menu</a></button></p>
                    <p class = "footer"> Serves Lunch from 11:30 - 14:30 <button><a href="google.com">Lunch menu</a></button> </p>
                    
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.835357233004!2d-3.5193235839003805!3d50.72299357951391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4112e4edf21%3A0x25e1452e57d74ac3!2sUniversity%20of%20Exeter-%20Saint%20Luke&#39;s%20Campus!5e0!3m2!1sen!2suk!4v1580824421152!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Lemon Grove</button>
            <div class="content">
                <div class="row">
                    <div class="column">
                        <a> Live Music and Night Club</a>
                    </div>
                    <div class="column">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2491.861655054001!2d-3.5344898761566914!3d50.735021227237304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4415fd115fd%3A0x4e6befa9f9f1492b!2sLemon%20Grove!5e0!3m2!1sen!2suk!4v1580820547045!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>       
<button type="button" class="collapsible">Cafes and Restaurants</button>
    <div class="content">
        <button type="button" class="collapsible">Amory Building</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h1>Camper Coffee (Amory)</h1>
                    <h2>Coffee Shop</h2>
                    <p>Those of you who love coffee will know Camper Coffee from the Farmers' markets - you can't miss the rare 1964 split-screen VW van parked up! Owners Gary and Paul use locally hand roasted beans, locally sourced snacks and are passionate about providing a family run, friendly service.</p>
                    <p>Menu:</p>
                    <ul>
                        <li>hot drinks</li>
                        <li>pasties and pies</li>
                        <li>sweet treats, including traybakes and cakes from local backeries</li>
                        <li>freshly ground coffee</li>
                    </ul>
                    <button><a href="www.google.com">Camper Coffee Website</a></button>
                    <p>Openening and closing times: 07:30 - 17:30</p>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1496.2851900475414!2d-3.533947279529919!3d50.735177841494554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da444fe202501%3A0xca7439fee9d699ba!2sUniversity%20of%20Exeter%2C%20Amory%20Building!5e0!3m2!1sen!2suk!4v1580822799475!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Business School</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h1>La Touche</h1>
                    <h2>Cafe/Restaurant</h2>
                    <p>Serving fresh, cooked to order pasta and pizza dishes. You can also find a Worldwide Asian inspired counter, a soup station and various grab and go items including paninis and sandwiches for a lighter lunch</p>
                    <p class = "footer"> Opening and closing time: 08:00 - 16:30</p>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1496.2851900475414!2d-3.533947279529919!3d50.735177841494554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da443f1ce2abb%3A0xeb11d5a5621d3c8a!2sUniversity%20Of%20Exeter%20Business%20School!5e0!3m2!1sen!2suk!4v1580823028196!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Cornwall House - Students Guild</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h1>Grove</h1>
                    <h2>Cafe/Restaurant</h2>
                    <p>Situated on the leafy Streatham Campus in Cornwall House, the Grove Diner presents a delicious and uncomplicated all-American menu. Enjoy freshly prepared classics with a modern twist from our main menu or visit us for breakfast (served until 11:30).</p>
                    <p class = "footer"> Opening and closing time: 08:30 - 19:00</p>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d810.2220206831785!2d-3.5306708342937276!3d50.73504267963539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da44163e90f01%3A0x638f6bdb93043f9d!2sGrove%20Diner!5e0!3m2!1sen!2suk!4v1580824126610!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Cross Keys (X-Keys)</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h2>Cafe/Restaurant</h2>
                    <p>On the ground floor, the cafe is open throughout the day offering grab and go items, including Fairtrade hot drinks, sandwiches, snacks, soft drinks and fruit. In addition, the kitchen counter introduces an exciting new hot food menu.</p>
                    <p class = "footer"> Serves Breakfast from 08:00 - 10:00 <button><a href="google.com">Breakfast menu</a></button></p>
                    <p class = "footer"> Serves Lunch from 11:30 - 14:30 <button><a href="google.com">Lunch menu</a></button> </p>
                    
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.835357233004!2d-3.5193235839003805!3d50.72299357951391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4112e4edf21%3A0x25e1452e57d74ac3!2sUniversity%20of%20Exeter-%20Saint%20Luke&#39;s%20Campus!5e0!3m2!1sen!2suk!4v1580824421152!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Devonshire House</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <p>Places to get food in Devonshire House</p>
                    <ul>
                        <li><button><a href="www.google.com">Ram Bar</a></button></li>
                        <li><button><a href="www.google.com">Comida</a></button></li>
                        <li><button><a href="www.google.com">Italiano Pizza</a></button></li>
                        <li><button><a href="www.google.com">Pieminister Caravan</a></button></li>
                        <li><button><a href="www.google.com">Students' Guild Shop</a></button></li>
                        <li><button><a href="www.google.com">Terrace Restaurant</a></button></li>
                    </ul>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d631.2947788258347!2d-3.5348161707230603!3d50.735166698719745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4442a27892b%3A0xd45a6594bf8f6898!2sDevonshire%20House%2C%20Stocker%20Rd%2C%20Exeter%20EX4%204PZ!5e0!3m2!1sen!2suk!4v1580822369115!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Exeter Northcott Theatre</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h1>The View Restaurant</h1>
                    <h2>Cafe/Restaurant</h2>
                    <p>Whether you’re looking for a light lunch, or the full pre-show dining experience, The View Restaurant offers an informal and friendly atmosphere with great fresh food, prepared by head chef Paul George Bending.</p>
                    <p>Outside of show times, visit for a healthy breakfast or lunch where you can take advantage of free refills on filter coffee and enjoy free WiFi.</p>
                    <button><a href =" google.com">The View Restaurant Website</a></button>
                    <p class = "footer"> Opening and closing time: 10:00 - 16:00 (opens for shows)</p>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2119.713091726691!2d-3.534229419058376!3d50.735727925599754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da444261ed801%3A0x2dc0a03fca73c81c!2sExeter%20Northcott%20Theatre!5e0!3m2!1sen!2suk!4v1580826373569!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Harrison Building</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h1>Engine Room</h1>
                    <h2>Coffee Shop</h2>
                    <p>Exciting new menus have been launched in the Engine Room, providing a variety of ever-changing choice for customers.The new range includes essentials such as hot and cold breakfast options, soups, salads sandwiches and cakes.Barisca, the new University coffee and hot drinks range will also be available in the Engine Room.</p>
                    <p class = "footer"> Opening and closing time: 08:30 - 15:30 </p>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3252.1471870285136!2d-3.53659285165211!3d50.734942411645676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da44487df6e61%3A0x11ca0c4101343224!2sUniversity%20of%20Exeter%20Harrison%20Building!5e0!3m2!1sen!2suk!4v1580829167574!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Innovation Centre Phase 2</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h1>Innovation Centre Cafe</h1>
                    <h2>Cafe/Restaurant</h2>
                    <p>Exciting new menu concepts have been launched at the Innovation Centre, providing a wide variety of ever-changing choice for customers. The range includes:</p>
                    <ul>
                        <li>'Essentials' - such as hot and cold breakfast options, soups, salads sandwiches and cakes.</li>
                        <li>Trending Now' - The latest popular food trends such as ‘Loaded Up’ dishes, ‘That’s a Wrap’ tortillas, and ‘Flavour By Nature’ salads and grains.</li>
                        <li>Daily changing 'World Favourites' dishes provide a range of meat and vegetable hot lunches.</li>
                        <li>Barisca - The new University coffee and hot drinks range, available in all outlets.</li>
                    </ul>
                    <p class = "footer"> Opening and closing time: 08:30 - 15:00</p>           
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2119.6872947335237!2d-3.5308881102464404!3d50.73629792438263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4436e4494cb%3A0x1c62c9fa168f33ac!2sInnovation%20Centre%2C%20Rennes%20Dr%2C%20Exeter%20EX4%204RN!5e0!3m2!1sen!2suk!4v1580825874910!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Peter Chalk</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h1>Barisca Coffee Co. at Peter Chalk</h1>
                    <h2>Coffee Shop</h2>
                    <p>The Barisca Coffee Co. hot drinks range has a new home in the Peter Chalk Centre, where The Roundhouse was previously located. </p>
                    <p>The coffee shop has a refreshed look for the new academic year, creating a relaxed and creative space for customers to enjoy. Our Essentials range grab and go lunches will continue to be on offer, alongside the delicious cakes, bakes and Barisca range of Fairtrade hot drinks.</p>
                    <p>On the menu:</p>
                    <ul>
                        <li>A choice of delicious sandwiches - including new freshly-made sourdough range</li>
                        <li>Freshly made on campus Flavour By Nature salad boxes</li>
                        <li>Crisps and snacks</li>
                        <li>Cakes and tray bakes</li>
                        <li>A selection of chilled drinks</li>
                        <li>Barisca Coffee Co. range of Fairtrade hot drinks</li>
                    </ul>
                    <p>Opening and closing time: 08:30 - 16:00 (Closes 15:00 on Wednesdays)</p>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1671.7765040940058!2d-3.535102231961473!3d50.73529088314488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da445c09d96f3%3A0x50d1a001e0033170!2sUniversity%20of%20Exeter%20Peter%20Chalk%20Centre!5e0!3m2!1sen!2suk!4v1580828679393!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Queen's Building</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h1>Camper Coffee (Queens)</h1>
                    <h2>Coffee Shop</h2>
                    <p>Those of you who love coffee will know Camper Coffee from the Farmers' markets - you can't miss the rare 1964 split-screen VW van parked up! Owners Gary and Paul use locally hand roasted beans, locally sourced snacks and are passionate about providing a family run, friendly service.</p>
                    <p>Menu:</p>
                    <ul>
                        <li>hot drinks</li>
                        <li>pasties and pies</li>
                        <li>sweet treats, including traybakes and cakes from local backeries</li>
                        <li>freshly ground coffee</li>
                    </ul>
                    <button><a href="www.google.com">Camper Coffee Website</a></button>
                    <p>Openening and closing times: 07:30 - 16:30</p>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2256.1597742213407!2d-3.534374352763123!3d50.7357330623835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4113c8130b1%3A0x77373b2168b9fd76!2sUniversity%20of%20Exeter%20Queen&#39;s%20Building!5e0!3m2!1sen!2suk!4v1580827083483!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Reed Hall</button>
            <div class = "content">
            <button type="button" class="collapsible">Woodbridge Restaurant</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h1>Woodbridge Restaurant</h1>
                    <h2>Cafe/Restaurant</h2>
                    <p>During the week, lunch is served daily in the elegant Woodbridge Dining Room, where our dedicated team of chefs strive to create ever-changing seasonal menus, incorporating the finest locally sourced produce.Take a visit to the salad bar, offering an array of cold salad options prepared daily using the freshest natural ingredients.For a more substantial meal there is always a daily carvery option and hot dish of the day, served alongside a selection of seasonal vegetables. Last but most definitely not least is our mouth-watering selection of desserts, from cheesecakes to fresh fruit salad.We want our customers to experience the best service whilst being able to take the time to choose their lunch, so after perusing the selection of mouth-watering meals for yourself, you can sit back and enjoy table service for bar drinks, tea and coffee and to settle the bill.</p>
                    <p>Openening and closing times: 12:00 - 14:30 (Monday to Friday)</p>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d824.3815813412206!2d-3.537261969166784!3d50.735219523423524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da445ff349507%3A0x9874cac062926e4f!2sReed%20Hall!5e0!3m2!1sen!2suk!4v1580827352237!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
            <button type="button" class="collapsible">Cafe Reed</button>
            <div class = "content">
                 <div class = "row">
                <div class = "column">
                    <h1>Cafe Reed</h1>
                    <h2>Cafe/Restaurant</h2>
                    <p>Escape the main campus and enjoy a peaceful coffee break in the relaxed, picturesque surroundings of Café Reed. Choose from a variety of Fairtrade teas, coffees, snacks and seasonal light bites. With free Wi-Fi access and free parking, Café Reed is the ideal location for a quick coffee break with colleagues or an informal lunchtime meeting.</p>
                    <p>The new Autumn menu includes</p>
                    <ul>
                        <li>Hot and cold drinks</li>
                        <li>New: A delicious breakfast menu including avocado on toast with a range of toppings</li>
                        <li>Soup of the day</li>
                        <li>Freshly baked baguettes</li>
                        <li>Light bites</li>
                        <li>Hot dish of the day</li>
                        <li>Alcoholic drinks</li>
                    </ul>
                    <button><a href="google.com">sample menu</a></button>
                    <p>Breakfast is served from 08:30 - 14:30 and lunch from 11:00 - 14:30</p>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d824.3815813412206!2d-3.537261969166784!3d50.735219523423524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da445ff349507%3A0x9874cac062926e4f!2sReed%20Hall!5e0!3m2!1sen!2suk!4v1580827352237!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
            </div>
            </div>
        <button type="button" class="collapsible">Forum</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <p>Places to get food in Forum</p>
                    <ul>
                        <li><button><a href="www.google.com">Pret A Manger</a></button></li>
                        <li><button><a href="www.google.com">Costa Coffee</a></button></li>
                        <li><button><a href="www.google.com">Market Place Forum</a></button></li>
                    </ul>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d257.27385593363846!2d-3.533689831796564!3d50.735446426518344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4442631cb7f%3A0x81f57b95411330d4!2sForum!5e0!3m2!1sen!2suk!4v1580822130001!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">INTO Centre</button>
            <div class = "content">
            <div class = "row">
                <div class = "column">
                    <h1>Into Cafe</h1>
                    <h2>Cafe/Restaurant</h2>
                    <p>Situated in the INTO building opposite the main entrance of the Forum, INTO Café offers an inside seating area.</p>
                    <p>The café menu includes:</p>
                    <ul>
                        <li>Barista coffee, tea and hot chocolate</li>
                        <li> Cold sandwiches, wraps and salads, including vegetarian and vegan options</li>
                        <li>Hot food including ready made rice meals, our own made chicken noodles, soup, pizza and pasties</li>
                        <li> A range of snacks and soft drinks and variety of yogurts.</li>
                    </ul>
                    <p>Please be aware that INTO University of Exeter has a policy of no food to be brought into the INTO building</p>
                    <p>Opening and closing time: 08:30 - 16:45</p>
                </div>
                <div class = "column">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d824.3725682100943!2d-3.533850447396021!3d50.73573160290553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da446f4220751%3A0xebfcda14a774d043!2sUniversity%20of%20Exeter%2C%20INTO!5e0!3m2!1sen!2suk!4v1580828199316!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
<button type="button" class="collapsible">Places of Worship</button>
    <div class="content">
        <button type="button" class="collapsible">Arabic & Islamic Centre</button>
         <div class="content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1538.3332974714756!2d-3.5365712366328785!3d50.73574025029719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4458d0ad9af%3A0x693bee9f29096620!2sInstitute%20of%20Arabic%20%26%20Islamic%20Studies!5e0!3m2!1sen!2suk!4v1580829732239!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <button type="button" class="collapsible">Chapel</button>
        <div class="content">
            <h1>Mary Harris Memorial Chapel of the Holy Trinity</h1>
            <p>Everyone is very welcome - you do not need to be a current or past member of the University, or a person of faith, to sit quietly and reflect a while, or simply to come and look around the chapel.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d758.6076714223731!2d-3.534215374795107!3d50.73387654136609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486da4465e871717%3A0xc66f66cd8d4013e1!2sMary%20Harris%20Memorial%20Chapel%20of%20the%20Holy%20Trinity!5e0!3m2!1sen!2suk!4v1580829789621!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>


    </body>
</html>

    