<!DOCTYPE html>
<!-- Author - Adam Bannister -->
<!-- Show a leaderboard of the current -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../CSS/common.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leaderboard</title>

    <style>
      table{
        width: 100%;
      }
      
    </style>

</head>


<body>
  <button type = "button" onclick = "home.html" name = "backFromLeaderboard">Back</button>

  <h1>Leaderboard</h1>

  <table id="leaderboardTable" align="center">
    <tr id = "titleRow">
      <th>Rank</th>
      <th>Team Name</th>
      <th>Number of Letters Collected</th>
    </tr>
  </table>
  </body>
