<!DOCTYPE html>
<!-- Author - Ben Constable, Zach Lavender -->
<!-- Render the dashboard pages -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script src="{{ url_for('static',filename='JS/ajax.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/common.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/dashboard.js') }}"></script>
    <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>
    <link href="{{ url_for('static',filename='CSS/dashboard.css') }}" rel='stylesheet' type='text/css'/>
</head>
<body>
    <div class="topnav">
        <a href="#home">Map</a>
        <a href="">Leaderboard</a>
        <a href="/dashboard/faqs">FAQ's</a>
    </div>

    <div id="success" class="alert success">Success: <span></span></div>
    <div id="error" class="alert error">Error: <span></span></div>

    <h2>Building:</h2>
    <ul id = "building" style="display:inline;">
        {% for row in info %}
        <li style="display:inline;">_</li>
        {% endfor %}
    </ul>

    <h3> Room: </h3>
    <p id = "roomNum" style="text-align: center;">___</p>
    <ul class="Locations">
        {% for row in info %}
        <li>{{ row["building"] }}</li>
        {% endfor %}
    </ul>

    <div id="scanModal" class="modal">
        <div class="modalHeader">
            <h2>Scan QR Code</h2>
        </div>
        <div class="modalBody">
            <video id="preview"></video>
        </div>
        <div class="modalFooter">
            <button id="closeScanModal" class="cancel">Cancel</button>
        </div>
    </div>

    <image id="openScanModal" src="{{ url_for('static',filename='Images/camera.png') }}"></image>
</body>
</html>
