<!DOCTYPE html>
<!-- Author - Harry Schmincke -->
<!-- Render the FAQs Page -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="{{ url_for('static',filename='JS/common.js') }}"></script>
        <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>
        <title>FAQs</title>
    </head>
    <body>
      <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a href="building" >Buildings</a>
        <a href="lecturers">Lecturers</a>
        <a class="active">FAQs</a>
        <a id ="logo"><image src="{{url_for('static',filename='Images/UniLogo.png')}}"></image></a>
        <a class="icon" onclick="showResponsiveMenu()">&#9776;</a>
      </div>
        <h2>Frequently Asked Questions</h2>
            <button type="button" class="collapsible">What if I don't like my flat?</button>
            <div class="content">
                <p>A lot of people at University don't get on with their flatmates as much as they expect to. There are loads of other ways to make friends outside of your flat, including on your course, through societies, or even through other mutual friends. You can also put in a request to change accomodation if there are spare rooms elsewhere.</p>
            </div>
            <button type="button" class="collapsible">What happens if I miss a lecture?</button>
            <div class="content">
                <p>Missing a lecture is different to missing a lesson at school - no one will chase you up over it. It's all down to you to catch up on any missed content. Most lectures are recorded and are available on ELE through the Recap system. Most lecturers also publish the lecture notes/slides on the ELE page too.</p>
            </div>
            <button type="button" class="collapsible">When are exams?</button>
            <div class="content">
                <p>There are two main exam seasons: January and May. There is also a third in August for those who are referred or have had their exams deferred. Dependent on your course structure and the modules you are taking, some modules will be entirely coursework, some will be entirely exams, and others will be a mixture of both. Consult the module descriptor or contact your lecturer to find out more details about your module’s examination methods.</p>
            </div>
            <button type="button" class="collapsible">What's the difference between referred and deferred?</button>
            <div class="content">
                <p>Referred is another way of saying resit. If you don't pass the module, you may ’resit’ an exam or coursework to attempt to pass. However, the maximum you can obtain is a pass (40%). There is also a fee for referred assessments that you'll have to pay. Deferred assessments are when you postpone an exam or extend the deadline of a coursework, due to reasons that are out of your control, that have inhibited your performance. For example, this could be an illness, or the passing of a close relative. All reasons must go through mitigation. Having poor time management or IT problems do not qualify for a deferred assessment.</p>
            </div>
            <button type="button" class="collapsible">What societies are there?</button>
            <div class="content">
                <p>The university offers societies for every interest including sports, subject related, cultural, and nearly anything you can think of. Visit the <a href="https://www.exeterguild.org/societies/">Student Guild website</a> for the full list.</p>
            </div>
            <button type="button" class="collapsible">How will I know where everything is?</button>
            <div class="content">
                <p>Hopefully this app should help with that, but there's a map available on the iExeter app that can help too. You start to learn your way around campus really quickly in the first couple of weeks, but you can always ask someone on campus and most students will be happy to guide you in the right direction.</p>
            </div>
            <button type="button" class="collapsible">What if I don't like my course?</button>
            <div class="content">
                <p>The first person to speak to about this would be your personal tutor and depending on how early it is in the academic year, it is possible to change to a different degree. Also remember that university isn't for everyone and you can drop out if you realise it isn't for you.</p>
            </div>
            <button type="button" class="collapsible">What do I need to bring to lectures?</button>
            <div class="content">
                <p>Each person is different, some like to make notes on paper, others on laptops, and some prefer to make notes after the lectures finished. It's important to find out what works best for you to ensure you get the most out of your contact hours. It's also important to be prepared and have done the required work before any tutorials/seminars.</p>
            </div>
            <button type="button" class="collapsible">How much work should I be doing outside of lectures?</button>
            <div class="content">
                <p>Once again, it's down to each individual person as to how much work they do outside of lectures. AS long as you do enough to feel comfortable and confident with the content so far, you should be fine.</p>
            </div>
            <button type="button" class="collapsible">What if I'm unwell?</button>
            <div class="content">
                <p>Registering with the <a href="https://www.exeterstudenthealthcentre.co.uk">Student Health Centre</a> is highly recommended as it's an on campus doctor's that can see you and help you feel better. There's also an <a href="https://www.nhs.uk/Services/clinics/Overview/DefaultView.aspx?id=96583">NHS Walk-in Centre</a> in the city that can help you too. See above for more info about if you miss lectures.</p>
            </div>
            <button type="button" class="collapsible">What if I miss home?</button>
            <div class="content">
                <p>Lots of students get homesick when first coming to university and it's perfectly normal. A lot of people often go back home during the first reading week which helps. Having a good group of friends around you can also help to relieve it. Always remember, you won't be the only person feeling homesick and so you shouldn't be worried to talk to friends or your personal tutor about it.</p>
            </div>
            <button type="button" class="collapsible">I'm in self catered, but not a good cook. What should I do?</button>
            <div class="content">
                <p>University can be a great way to help build your life skills while surrounded by others like you. Not everyone will be an amazing chef when coming to university, and so learning how to cook better is part of the experience. Searching online for easy recipes for students can be really helpful for early on. There's also many places around the campus where you can get food without having to cook such as the Grove Diner and the Ram. The city also offers many different restaurants and takeaways too.</p>
            </div>
            <button type="button" class="collapsible">What's the nightlife like in Exeter?</button>
            <div class="content">
                <p>Exeter has a very varied nightlife with a number of different pubs, bars, and clubs. There are may student club nights, for example the Lemon Grove club on campus every Saturday night.</p>
            </div>
            <button type="button" class="collapsible">When should I sort out my house for next year?</button>
            <div class="content">
                <p>There's a lot of demand in Exeter every year for student housing, and estate agents often release their houses around October/November. It's a good idea to try and get one sorted early on to reduce stress, so sorting out a group of people to live with is good to be done early on. The university also holds an Accomodation Fair later in the year to help if you haven't found somewhere.</p>
            </div>
            <button type="button" class="collapsible">Where can I get careers advice?</button>
            <div class="content">
                <p>The university has an excellent department called <a href="https://mycareerzone.exeter.ac.uk/">My Career Zone</a> which is dedicated to helping students with any career based enquiries, from having a CV checked to discussing a future career path. They also organise many different events where representatives from companies come to dicuss their opportunities and any tips for applying.</p>
            </div>
            <button type="button" class="collapsible">How many contact hours do I have?</button>
            <div class="content">
                <p>You can find your timetable on <a href="https://i.exeter.ac.uk/">iExeter</a> which will contain all of your scheduled contact hours. You'll likely have multiple different types of contact hours such as lectures, seminars, workshops, etc. This depends on your course and modules that you've chosen.</p>
            </div>
            <button type="button" class="collapsible">How much does first year count to my degree?</button>
            <div class="content">
                <p>Your first year doesn't actually count towards the grades for you degree, however to do need to achieve at least a pass (40%). Despite this, it's important to do well in first year as it is a good predictor of what you will end up with at the end of your degree. Your first year grades are also often looked at by employers when you're applying for placement years or internships.</p>
            </div>
            <button type="button" class="collapsible">Anything else:</button>
            <div class="content">
                <p>If you have any more questions you can always ask your personal tutor, or the university offers an <a href="https://www.exeter.ac.uk/students/az-services/">A to Z</a> of services and support that you can search through.</p>
            </div>
        <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
        </script>
    </body>
</html>
