<!DOCTYPE html>
<!-- Author - Ben Constable -->
<!-- Render the admin dashboard pages -->
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>
    <link href="{{ url_for('static',filename='CSS/game.css') }}" rel='stylesheet' type='text/css'/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage Game</title>

    <script type="text/javascript" src="{{ url_for('static',filename='JS/ajax.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='JS/common.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='JS/game.js') }}"></script>
</head>
<body>
    <div class="topnav">
        <a class = "active">AdminHome</a>
        <a href="/">PlayerHome</a>
        <a id ="logo"><image src="{{url_for('static',filename='Images/UniLogo.png')}}"></image></a>
    </div>
    <h1>Admin Dashboard</h1>
    <h2> Welcome: {{name}} </h2>
    <div id="success" class="alert success">Success: <span></span></div>
    <div id="error" class="alert error">Error: <span></span></div>

    <div id="loadingContainer">
        <div id="loadingWheel"></div>
        <p id="loadingText">Loading...</p>
    </div>

    <!-- Output the game pin if it exists -->
    {% if gameStatus == 1 %}
        <input id="gamePin" type="text" value="Current Game Pin: {{ gamePin }}" disabled>
        <button id="endGame">End Game</button>
    {% else %}
        <input id="gamePin" type="text" value="No Game Running" disabled>
        <button id="endGame" disabled>End Game</button>
    {% endif %}
    <button id="manageConfigs">Manage Exisiting Game Configs</button>
    <button id="registerAdmin">Register New Admin</button>
    <button id="changePassword">Change Password</button>
    <button id="logout">Logout</button>

    <div>
        <h2>Leaderboard</h2>
    </div>

    <div id="configModal" class="modal">
        <div class="modalHeader">
            <h2>Manage Existing Configs</h2>
        </div>
        <div class="modalBody">
            <!-- Output any of the existing subject configs -->
            {% if subjectLength == 0 %}
                <div id="noConfigError" class="alert error">No Game Configs Added - Upload to Get Started!</div>
                <table id="configTable" style="display:none;">
                    <thead>
                        <tr>
                            <th>SubjectID</th>
                            <th>Name</th>
                            <th>Final Building</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            {% else %}
                <table id="configTable">
                    <thead>
                        <tr>
                            <th>SubjectID</th>
                            <th>Name</th>
                            <th>Final Building</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subject in subjectData %}
                        <tr>
                            {% for value in subject.values() %}
                            <td>{{ value }}</td>
                            {% endfor %}
                            <td><button class="createGameButton" data-json="{{ subject }}">Create Game</button></td>
                            <td><button class="printQRCode" data-json="{{ subject }}">Print QR Codes</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="modalFooter">
            <form action="/admin/upload" method="post" enctype="multipart/form-data" name="configUpload">
                <input type="file" accept="application/JSON" name="file" id="file">
                <input type="submit" value="Upload Config" name="upload">
                <input type="submit" value="Cancel" name="cancel" class="cancel">
            </form>
        </div>
    </div>

    <div id="questionsModal" class="modal">
        <div class="modalHeader">
            <h2>QR Codes</h2>
        </div>
        <div class="modalBody">
            <!-- Output a list of the locations and their QR codes -->
            <ul id ="questionsModalList">
            </ul>
        </div>
        <div class="modalFooter">
            <button id="cancelQuestionsModal" class="cancel">Cancel</button>
        </div>
    </div>

    <div id="registerAdminModal" class="modal">
        <div class="modalHeader">
            <h2>Register New Admin</h2>
        </div>
            <form action="/admin/game/register" method="post" name="registerAdmin">
            <div class="modalBody">
              <div id="registerAdminModalError" class="alert error">Error: <span></span></div>
              <label for="Name">Name</label>
              <input type="text" name="name" placeholder="Enter Name">
              <label for="Username">Username</label>
              <input type="text" name="username" placeholder="Enter Username">
              <label for="Password">Password</label>
              <input type="password" name="password1" placeholder="Enter Password">
              <label for="Password2">Please repeat your password</label>
              <input type="password" name="password2" placeholder="Repeat Password">
            </div>
              <div class="modalFooter">
              <input type="submit" name="signUp" value="Sign Up">
              <input type="submit" value="Cancel" name="cancel" class="cancel">
            </div>
            </form>
    </div>

    <div id="changePasswordModal" class="modal">
        <div class="modalHeader">
            <h2>Change Password</h2>
        </div>
        <form action="/admin/game/changePassword" method="post" name="changePassword">
            <div class="modalBody">
              <div id="changePasswordModalError" class="alert error">Error: <span></span></div>
                <label for="Password">Password</label>
                <input type="password" name="password1" placeholder="Enter Password">
                <label for="Password2">Please repeat your password</label>
                <input type="password" name="password2" placeholder="Repeat Password">
                <input type="hidden" name="ID" value={{ID}}>
            </div>
                <div class="modalFooter">
                <input type="submit" name="submit" value="Change Password">
                <input type="submit" value="Cancel" name="cancel" class="cancel">
            </div>
        </form>
    </div>


</body>
</html>
