<!DOCTYPE html>
<!-- Author - Ben Constable
     Modified - Ravi Gohel -->
<!-- Render the home pages -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="{{url_for('static',filename='JS/ajax.js')}}"> </script>
    <script type="text/javascript" src="{{url_for('static',filename='JS/common.js')}}"> </script>
    <script type="text/javascript" src="{{url_for('static',filename='JS/home.js')}}"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Home</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a class ="active">Home</a>
        <a href="/dashboard/faqs">Useful Information</a>
        <a href="/admin">Admin Login</a>
        <image id="logo" src="{{url_for('static',filename='Images/UniLogo.png')}}"></image>
        <a class="icon" onclick="showResponsiveMenu()">&#9776;</a>
    </div>

    <h1>Welcome To The Great University of Exeter Freshers Treasure Hunt</h1>
    <!-- If an error is returned then output it -->
    {% if status == "0" %}
        <div class="error"><p>{{ message }}</p></div>
    {% endif %}

    <form action="/register" method="post" class="authForm">
        <h4>Register Team</h4>
        <label for="TeamName">Team Name</label>
        <input type="text" name="TeamName" placeholder="Enter Team Name">
        <label for="GamePin">Game Pin</label>
        <input type="text" id="GamePin" name="GamePin" placeholder="Enter Game Pin">
        <label for="tutors">Select Your Tutor</label>
        <select id="tutorsNames" name="TutorID">
            <option value="" selected disabled id="disabledSelect">Select...</option>
        </select>
        <input type="submit" name="SignUp" value="Sign Up">
    </form>

    <form action="/login" method="post" class="authForm">
        <h4>Log Back In</h4>
        <label for="TeamName">Team Name</label>
        <input type="text" name="TeamName" placeholder="Enter Team Name">
        <label for="GamePin">Game Pin</label>
        <input type="text" name="GamePin" placeholder="Enter Game Pin">
        <input type="submit" name="Login" value="Login">
    </form>
</body>
</html>
