<!DOCTYPE html>
<!-- Author - Ben Constable
     Modified - Ravi Gohel -->
<!-- Render the home pages -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="{{url_for('static',filename='JS/ajax.js')}}"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2> To the University of Exeter Freshers Treasure Hunt </h2>
    <!-- If an error is returned then output it -->

    {% if status == "0" %}
        <div class="error"><p>{{ message }}</p></div>
    {% endif %}

    <form action="/register" method="post">
        <h4>Register your Team</h4>
        <label for="TeamName">Team Name</label>
        <input type="text" name="TeamName">
        <br/>
        <label for="GamePin">Game Pin</label>
        <input type="text" id="GamePin" name="GamePin" onchange="gameFunction()">
        <br/>
        <label for="tutors">Select Your Tutor</label>
        <select id="tutorsNames" name="TutorID">
        <option value="" selected disabled name = id="disabledSelect">Select...</option>
        </select>
        <br/>
        <input type="submit" name="SignUp" value="Sign Up">
    </form>

    <p id="test"></p>

    <h4> Log Back into your Game </h4>
    <form action="/login" method="post">
        <label for="TeamName">Team Name</label>
        <input type="text" name="TeamName" class="inputFull">
        <br/>
        <label for="GamePin">Game Pin</label>
        <input type="text" name="GamePin" class="inputFull">
        <br/>
        <input type="submit" name="Login" value="Login" class="inputFull">
    </form>
    
        <script>
        function handleSection(response){
          console.log(response)
          var options = document.getElementById("tutorsNames");
          if (response.tutorNames){
            for(var i = 0; i < response.tutorNames.length; i++) {
                var tutor = response.tutorNames[i];
                var option = document.createElement("option"); //creates html option
                option.textContent = tutor; //what the user sees
                option.value = response.tutorIDs[i]; //the value which is associated with the option
                options.appendChild(option); //adds the new option to bottom of the select
            }
          }
          else{
            var options = document.getElementById("tutorsNames");
            document.getElementById("tutorsNames").innerHTML = "";
            var option = document.createElement("option"); //creates html option
            //gives it the properties of an "empty" non selectable dropdown option
            option.value = "";
            option.disabled = true;
            option.selected = true;
            option.textContent = "Select"
            options.appendChild(option);
          }
        }

        function gameFunction(){
          var pin = document.getElementById("GamePin").value;
          document.getElementById("test").innerHTML = "You selected: " + pin;

          HTTPGet("/verifyPin?GamePin=" + pin, handleSection)
        }

    </script>
</body>
</html>
