<!DOCTYPE html>
<!-- Author - Adam Bannister -->
<!-- Show a leaderboard of the current -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leaderboard</title>
    <script src="{{ url_for('static',filename='JS/ajax.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/common.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/leaderboard.js') }}"></script>

    <style>
      table{
        width: 100%;
      }

    </style>

</head>


<div class="topnav" id = "myTopnav">
    <a href="/dashboard"> Home</a>
    <a href="/dashboard/map">Map</a>
    <a class = "active">Leaderboard</a>
    <a href="/dashboard/faqs">FAQ's</a>
    <a href="/dashboard/privacypolicy">Privacy Policy</a>
    <a id ="logo"><image src="{{url_for('static',filename='Images/UniLogo.png')}}"></image></a>
    <a class="icon" onclick="showResponsiveMenu()">&#9776;</a>
</div>

  <h1>Leaderboard</h1>

  <table id="leaderboardTable" align="center">
    <thead>
      <tr>
      <th>Rank</th>
      <th>Team Name</th>
      <th>Number of Letters Collected</th>
    </tr>
  </thead>
  <tbody>
      {% for leaderboardRow in leaderboardData %}
      <tr>
        {% for value in leaderboardRow.values() %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
  </table>
  </body>
