<!DOCTYPE html>
<!-- Author - Adam Bannister -->
<!-- Show a leaderboard of the current -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leaderboard</title>
    <script src="{{ url_for('static',filename='JS/ajax.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/common.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/leaderboard.js') }}"></script>

    <style>
      table{
        width: 100%;
      }

    </style>

</head>


<body>
<div class="topnav" id = "myTopnav">
    <a href="/dashboard"> Home</a>
    <a href="/dashboard/map">Map</a>
    <a class = "active">Leaderboard</a>
    <a href="/dashboard/faqs">FAQ's</a>
    <a href="/dashboard/privacypolicy">Privacy Policy</a>
    <image id="logo" src="{{url_for('static',filename='Images/UniLogo.png')}}"></image>
    <a class="icon" onclick="showResponsiveMenu()">&#9776;</a>
</div>

    <div id="leaderboard" class="boxed">
        <h4>Leaderboard</h4>
        <div id="scoresError" class="alert error">No Scores</div>
        <ul id="scores"></ul>
    </div>
  </body>
