<!DOCTYPE html>
<!-- Author - Zach Lavender -->
<!-- Displays a map with the locations on -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Map</title>
    <script src="{{ url_for('static',filename='JS/common.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/maps.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/ajax.js') }}"></script>
    <link href="{{ url_for('static',filename='CSS/common.css') }}" rel='stylesheet' type='text/css'/>
    <link href="{{ url_for('static',filename='CSS/maps.css') }}" rel='stylesheet' type='text/css'/>

</head>
<body>
  <div class="topnav" id = "myTopnav">
      <a href="/dashboard"> Home</a>
      <a class = "active">Map</a>
      <a href="">Leaderboard</a>
      <a href="/dashboard/faqs">FAQ's</a>
      <a id ="logo"><image src="{{url_for('static',filename='Images/UniLogo.png')}}"></image></a>
      <a class="icon" onclick="showResponsiveMenu()">&#9776;</a>
  </div>
<div class = "google-maps" id = "map">

<script
 src="https://maps.googleapis.com/maps/api/js?callback=createMap&key=AIzaSyAjWyS2TbtvLNFmE5PnOFpQ1rZu7LI0NpI" ></script>

</div>
</body>
</html>
