#configTable {
    width: 100%;
}

#file {
    color: #666699;
}

#configTable tr th {
    text-align: left;
}

#noConfigError {
    display: block;
}

.boxed {
    margin: 10px;
}

#controls {
    width: 24%;
    padding: 20px;
}

#leaderboard {
    width: 73%;
}

#notificationsList {
    padding: 0;
    list-style-type: none;
}

#notificationsList li {
    padding-bottom: 5px;
}

.boxed h1, .boxed p {
    margin: 2px;
}

.boxed p {
    margin-top: 10px;
    color: crimson;
}

.columns {
    display: flex;
}

.columnOne {
    flex: 1;
}

.columnTwo {
    flex: 1;
}

.columnThree {
    flex: 1;
}

