#configTable {
    width: 100%;
}

#file {
    color: #666699;
}

#configTable tr th {
    text-align: left;
}

#noConfigError {
    display: block;
}

.boxed {
    margin: 10px;
}

#controls {
    float: left;
    width: 24%;
    padding: 20px;
}

#leaderboard {
    float: right;
    width: 73%;
}

.boxed h1, .boxed p {
    margin: 2px;
}

.boxed p {
    margin-top: 10px;
    color: crimson;
}
