/*
    Author: Freddie Woods
    Description: CSS for Login Page
*/

.homenav {
    position: sticky;
}
.homenav b {
    float: left;
    width: 100px;
}
.homenav c {
    float: right;
    width: 100px;
}
@media screen and (max-width: 600px) {
  .body  {
    background-color:lightblue;
  }
}


